[submodule "vendor/zamqp"]
	path = packages/amqp/vendor/zamqp
	url = https://github.com/Kalelzar/zamqp.git
[submodule "packages/kwev/vendor/zstd"]
	path = packages/kwev/vendor/zstd
	url = https://git.kalelzar.xyz/kalelzar/zstd.git
[submodule "packages/orm-sqlite/vendor/sqlite3"]
	path = packages/orm-sqlite/vendor/sqlite3
	url = https://git.kalelzar.xyz/kalelzar/sqlite3.git
[submodule "packages/core/vendor/zettel"]
	path = packages/core/vendor/zettel
	url = https://git.kalelzar.xyz/kalelzar/zettel.git
[submodule "packages/protocol/vendor/zettel"]
	path = packages/protocol/vendor/zettel
	url = https://git.kalelzar.xyz/kalelzar/zettel.git
